@import 'tailwindcss';

:root {
  --background: #fff;
  --primary: #0044ff;
  --white-e7: #e7e7e7;
  --white-fc: #fcfcfc;
  --white-f7: #f7f7f7;
  --gray-55: #555555;
  --gray-38: #383838;
  --gray-ff: #f0f5ff;
  --gray-ef: #efefef;
  --gray-ce: #cecece;
  --green-06: #009906;
  --blue-ff: #e7edff;
  --blue-fd: #1f5afd;
  --red-00: #c50000;
  --font-montserrat: 'Montserrat', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --font-primary: var(--font-montserrat);
  --color-primary: var(--primary);
  --color-submenu: var(--gray-55);
  --color-hover: var(--gray-ff);
  --color-hover-main-btn: var(--blue-fd);
  --color-error: var(--red-00);
  --color-section-bg: var(--white-fc);
  --color-subSection-bg: var(--white-f7);
  --color-border: var(--white-e7);
  --color-success: var(--green-06);
  --color-primary-light: var(--blue-ff);
  --color-gray-ef: var(--gray-ef);
  --color-gray-55: var(--gray-55);
  --color-gray-38: var(--gray-38);
  --color-input-border: var(--gray-ce);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-primary bg-background w-screen;
  }

  tr {
    margin-bottom: 20px !important;
    padding-bottom: 20px !important;
  }

  .ant,
  .ant * {
    @apply font-primary!;
  }

  button {
    @apply transition-all duration-300 ease-out cursor-pointer;
  }

  .ant-menu-item-selected {
    @apply bg-primary! text-white!;
  }

  .ant-menu-item-selected .ant-menu-item-icon {
    @apply text-white!;
  }

  .float-label {
    @apply relative;
  }

  .label {
    @apply absolute left-6 top-[11px] bg-section-bg transition-all ease-in-out duration-200 pointer-events-none font-normal;
  }

  .as-placeholder {
    @apply text-black;
  }

  .as-label {
    @apply -top-2! text-xs bg-section-bg z-2! px-1! -ml-1!;
  }

  .white-spin .ant-spin-dot-item {
    background-color: white !important;
  }

  .spin-blue .ant-spin-dot-item {
    background-color: #3b82f6 !important; /* blue */
  }

  .spin-red .ant-spin-dot-item {
    background-color: #ef4444 !important; /* red */
  }

  .spin-gray .ant-spin-dot-item {
    background-color: #6b7280 !important; /* gray */
  }

  .spin-green .ant-spin-dot-item {
    background-color: #22c55e !important; /* green */
  }

  .spin-white .ant-spin-dot-item {
    background-color: white !important;
  }
}

@utility sidebar-menu-item {
  @apply rounded-full! ml-10! w-auto! pl-4!;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility section {
  @apply rounded-[20px] border border-border bg-section-bg w-full p-5;
}

@utility subSection {
  @apply rounded-[20px] py-8 px-6 bg-subSection-bg;
}

@utility input {
  @apply placeholder-black! rounded-full! pl-5! border-input-border! focus:border-primary! hover:border-primary!;
}

@utility text-light {
  @apply text-gray-55;
}

@utility btn-primary {
  @apply w-full rounded-full bg-primary flex-center text-white h-12;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.ant,
.ant * {
  font-family: var(--font-montserrat) !important;
}

/* Apply styles to the selected menu item */

.ant-layout-sider {
  ul {
    @apply bg-transparent!;
  }
}

.ant-menu-submenu-title {
  @apply rounded-full! bg-none!;
}

.ant-menu-item {
  @apply rounded-full! bg-none!;
}
.ant-menu-item-only-child {
  @apply rounded-full bg-none!;
}

.ant-menu-sub .ant-menu-inline {
  @apply bg-none!;
}

.ant-menu-item-selected {
  @apply bg-primary! text-white! rounded-full!;
}

.ant-menu-item-active,
.ant-menu-submenu-title:hover {
  @apply rounded-full;
}

/* Hover effect for items */
.ant-menu-item:hover {
  background-color: #f0f5ff; /* Light blue background on hover */
  color: #0066ff; /* Blue text on hover */
  border-radius: 100px;
}

.ant-menu-item .ant-menu-item-icon {
  color: #0066ff; /* Default blue color for icons */
}

/* Apply styling to submenu headers */
.ant-menu-submenu-selected .ant-menu-submenu-title {
  @apply bg-primary! text-white! rounded-full;
}

/* Styling for the collapsed state or expanded submenu items */

.ant-menu-sub {
  padding-left: 30px !important;
}

.ant-menu-submenu .ant-menu-item {
  @apply text-submenu /* Regular text color for sub-items */;
}

.ant-menu-submenu .ant-menu-item:hover {
  background-color: #e6f7ff; /* Lighter blue for hover on sub-items */
  color: #0066ff; /* Blue text on hover */
}

.ant-menu-item {
  font-size: 14px;
  padding-left: 24px;
  padding-right: 24px;
}

.ant-input {
  padding: 0 !important;
  height: auto !important;
  @apply shadow-none outline-none;
}

.ant-input-password {
  @apply w-full rounded-full! bg-section-bg! border border-input-border! pl-6! py-3! shadow-none! hover:shadow-none! focus-within:border-primary!;
  height: auto !important;
}

/* Apply identical styles to the actual input inside */
.ant-input-password .ant-input {
  @apply bg-transparent! border-none! shadow-none! outline-none! pl-0! py-0! placeholder-black!;
  height: auto !important;
}

/* Fix visibility icon padding so it doesn't push label */
.ant-input-password .ant-input-suffix {
  @apply pr-4! text-gray-55!;
  display: flex;
  align-items: center;
}

/* Remove default green/blue borders */
.ant-input-password:hover .ant-input,
.ant-input-password:focus-within .ant-input {
  @apply border-none! shadow-none!;
}

/* .ant-spin-dot-item {
  background-color: white !important;
} */

/*SELECT*/

.ant-select .ant-select-selector {
  padding-left: 24px !important;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 100px !important;
  height: 48px !important;
}

.ant-select-arrow {
  right: 20px !important; /* move arrow inside */
  top: 30px !important; /* vertically center */
  transform: translateY(-50%) !important;
  font-size: 14px !important;
  color: #4a4a4a !important;
}

.ant-select-single .ant-select-selector .ant-select-selection-search {
  top: 16px;
}

/*CUSTOM SELECT FOR PAGINATION*/

.custom-pagination-select .ant-select-selector {
  border-radius: 999px !important; /* full rounded */
  height: 30px !important;
  padding: 6px 14px !important;
  display: flex !important;
  align-items: center !important;

  border: 1px solid #e5e5e5 !important;
  background-color: #fff !important;
}

.custom-pagination-select .ant-select-arrow {
  color: black !important; /* softer arrow */
  top: 22px !important;
}

.custom-pagination-select .ant-select-selection-item {
  font-size: 14px !important;
  color: #444 !important;
}

/*ANT MODAL*/

.ant {
  font-family: var(--font-montserrat) !important;
}

.ant-modal-content {
  border-radius: 20px !important;
  font-family: var(--font-montserrat) !important;
}

.ant-modal .ant-modal-title {
  font-size: 24px !important;
}

/*TABLE*/

.ant-table {
  border-spacing: 200px 200px !important; /* horizontal=0, vertical=12px */
  /* border-collapse: separate !important; */
  border-radius: 20px !important;
  overflow: hidden !important;
}

.ant-table-cell {
  @apply border-b! border-border!;
}

/*USERS TABLE*/

.custom-users-table .ant-table-tbody > tr > td {
  padding: 20px 12px !important; /* remove default padding */
}

.ant-table-thead > tr > th {
  @apply bg-subSection-bg!;
}
/* wrap content in a card-like row */
.custom-users-table .ant-table-row {
  @apply bg-subSection-bg! mb-10!;
}

.custom-users-table .ant-table-row > td > div {
  @apply bg-subSection-bg! mb-10! shadow-sm rounded-xl p-4 mb-4 cursor-pointer;
}

.ant-table-column-sorter {
  display: none !important;
}
.ant-table-column-sorters .ant-table-column-sorter {
  display: none !important;
}

/*ANT COLLAPSE*/

.ant-collapse-collapsible-header {
  display: block !important;
}
